* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh ;
	background: linear-gradient(#b7328d, #0050c0) ;
}

.container {
	border: solid 3px rgba(255,255,255,0.2);
}

table {
	color: #fff;
	font-size: 16 px;
	table-layout: fixed;
	border-collapse: collapse;
}

thead {
	background: rgba(243, 140, 210, 0.4);
}

th {
	padding: 20px 15px;
	font-weight: 700;
	text-transform: uppercase;
}

td {
	padding: 15px;
	border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}


tbody tr {
	cursor: pointer;
}


tbody tr:hover {
    background: rgba(243, 140, 210, 0.4);
}



