body {
	text-align: center;
	background-color: #FFFFFF;
	font-family: "Trebuchet MS", Verdana, Arial;	
	margin: 5px auto;
}
img {
	border: none;
}
hr {
	color: #000;
	background-color: #000;
	height: 1px;
	border: 0;
	border-top: 1px solid #000;
	margin-top: 15px;
	width: 75%;
}
a:link, a:active, a:visited, a:hover {
	color: #336633;
	text-decoration: underline;

}
a:hover { color: #000; text-decoration: underline; }
#logo {
	margin-bottom: 35px;
}
#holamundo {
	width: 980px;
	margin: 0px auto;
	text-align: left;
	background-color: #FFFFFF;
}
#cabecera {
	border-bottom: 1px solid #000000;
}
#cabecera a {
}
#lenguajes {
	/*border-right: 1px solid #000;
	border-left: 1px solid #000;*/
	width: 145px;
	float: left;
	margin-bottom: 10px;
}
#central {
	width: 70%;
	float: left;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 15px;
	font-size: 13px;
	margin-bottom: 15px;
}
#central h2 {
	border-bottom: 1px dashed #3344AA;
}
.contenido {
	margin: 5px;
}
#lenguajes ul {
	padding: 0px;
	margin: 0px;
	margin-top: -1px;
	border-right: 1px solid #000000;
}
#lenguajes li {
	margin: 0px;
	padding: 0px;
	padding-left: 5px;
	list-style-type: none;
	font-size: 10px;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 15px;
	display: inline;
	float: left;
	width: 100%;
	border-right: 1px solid #000000;

}
#lenguajes li a {
	color: #333377;
}
#lenguajes li a:hover {
	text-decoration: underline;
	color: #000;
}
.code {
	border: 1px solid #336666;
	background-color: #CCCC99;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 2px;
	margin-left: 3px;
	padding: 2px;
	padding-left: 4px;
	font-weight: normal;
	max-height: 250px;
	width: 650px;
	overflow: auto;
}
#header {
	position: relative;
	left: 165px;
	width: 100%;
	height: 1em;
	width: 5em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#primary {
	margin: 0px;
	padding: 0px;
	position: absolute;
	bottom: -1px;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#primary li  {
	display: inline;
	list-style: none;
}

#header ul#primary a,#header ul#primary span,#header ul#primary a.current {
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 2px 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	font-size: 85%;
	text-decoration: none;
	color: #333;
}
#header ul#primary span {
	padding-left: 15px;
	padding-right: 15px;
}

#header ul#primary span,#header ul#primary a.current,#header ul#primary a.current:hover {
	border: 1px solid #000;
	border-bottom: none;
	background-color: #FFF;
	padding-bottom: 6px;
	margin-top: 0;
	font-weight: bold;
}

#header ul#primary a {
	background: #FFFAE1;
	border: 1px solid #AAA;
	border-bottom: none;
	padding-left: 5px;
	padding-right: 5px;
}

#header ul#primary a:hover {
	margin-top: 0;
	border-color: #666;
	background: #FFF7CD;
	padding-bottom: 5px;
}

#header ul#secondary {
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: -1.4em;
	left: 1px;
	width: 50em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#secondary li a,#header ul#secondary li span {
	width: auto;
	display: block;
	float: left;
	padding: 0 10px;
	margin: 0;
	text-align: left;
	border: none;
	border-right: 1px dotted #AAA;
	background: none;

}

#header ul#secondary li a {
	color: #06C;
	text-decoration: underline;
}

#header ul#secondary li a:hover {
	color: #333;
	background: transparent;
	padding: 0 10px;
	border: none;
	border-right: 1px dotted #AAA;
}

#header ul#secondary li a:active {
	color: #000;
	background: transparent;
}

#header ul#secondary li:last-child a { border: none; }

.lengDescrip, .webOficial, .ejComent, .identado {
	margin-left: 10px;
}
#pie {
	position: relative;
	clear: both;
	text-align: center;
	border-top: 1px solid #000;
	margin-top: 10px;
	font-size: 12px;
	vertical-align: middle;
}

#articulos div {
	margin-bottom: 15px;
}